<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Bordered Table</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th>编号</th>
        <th>名字</th>
        <th>价格</th>
        <th>星级</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let stock of stocks">
        <td>{{stock.id}}</td>
        <td>{{stock.name}}</td>
        <td>{{stock.price}}</td>
        <td>{{stock.rating}}</td>
        <td>
          <a class="btn btn-success btn-xs">修改</a>
          <a class="btn btn-warning btn-xs">删除</a>
        </td>
      </tr>
    </tbody></table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">«</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>